@import "tailwindcss";
@import "./typography.css";

@font-face {
  font-family: "MapleMono";
  src: 
    url("/fonts/MapleMono-NF-CN-Regular.woff2") format("woff2"),
    url("/fonts/MapleMono-NF-CN-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* html[data-theme="light"] {
    --color-fill: 250, 252, 252;
    --color-text-base: 34, 46, 54;
    --color-accent: 211, 0, 106;
    --color-card: 234, 206, 219;
    --color-card-muted: 241, 186, 212;
    --color-border: 227, 169, 198;
  } */

:root,
html[data-theme="light"] {
  /* --background: rgb(253, 253, 253);
  --foreground: rgb(40, 39, 40);
  --accent: rgb(0, 108, 172);
  --muted: rgb(230, 230, 230);
  --border: rgb(236, 233, 233); */
  --background: rgb(253, 253, 253);
  --foreground: rgb(40, 39, 40);
  --accent: rgb(211, 0, 106);
  --muted: rgb(241, 186, 212);
  --border: rgb(227, 169, 198);
  --card: rgb(99,102,241);
}

html[data-theme="dark"] {
  --background: rgb(33, 39, 55);
  --foreground: rgb(234, 237, 243);
  --accent: rgb(255, 107, 1);
  --muted: rgb(52, 63, 96);
  --border: rgb(171, 75, 8);
  --card: rgb(99,102,241);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-card: var(--card);
  --font-mono: "MapleMono", monospace;
}

@layer base {
  * {
    @apply border-border outline-accent/75;

    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
